@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 0px 12rem;
  font-family: "Montserrat", sans-serif;
}
.container p {
  font-size: 0.9rem;
  text-align: justify;
}
