.product-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.product-container img {
  width: 250px;
  height: 350px;
}
.product-container img:hover {
  animation: productContainer 1.2s ease-in-out;
}
@keyframes productContainer {
  50% {
    transform: scale(1.4);
  }
}
.variants {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.color-circle {
  border-radius: 50%;
  /* border: 1px solid black; */
  width: 20px;
  margin: 15px 0;
}
.color-circle span {
  opacity: 0;
}
